# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Logs / temp
*.log
*.tmp
*.cache
*.pdb
*.obj

# Test output
TestResults/
*.trx

#SKILL

SKILL/